<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <base href="/">

        <link href='http://fonts.googleapis.com/css?family=Lato:400,900|PT+Serif:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/custom.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

        <div id="content-container" class="row-fluid container-narrow">
            <div class="span12">

                <header class="site">
                    <h4><a href="/">Lucas Jenß</a> <small>– also known as x3ro</small></h4>

                    <div id="contact">
                        <ul class="inline">
                            <li><a href="https://twitter.com/x3rames">Twitter</a></li>
                            <li><a href="https://github.com/x3ro">GitHub</a></li>
                            <li>Email: public@x3ro.de</li>
                        </ul>
                    </div>
                </header>

                {{ content }}

            </div>
        </div>



        <!-- JavaScript -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/prettify.js"></script>

        <script src="js/main.js"></script>
        <script src="js/custom.js"></script>

        {% if page.math %}
        <script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        {% endif %}

        {% google_analytics %}

    </body>
</html>
